<!--<p>parent works!</p>-->
<div class="parent-frame">
  <h4>Parent Component</h4>
  <p>Data get from child:  <span class="num-value">{{value}}</span>  times</p>
  <button class="btn btn-sent" (click)="sentDataToChild()">Send data to child</button>
  <button class="btn btn-clear" (click)="clearChildValue()">Clear Data</button>
  <child [childValue]="valueChild" (passToParent)="recievevalue($event)"></child>
</div>
