.parent-frame{
  border: solid 1px darkgray;
  padding: 0px 20px 10px 20px;
  border-radius: 20px;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 10px;
}
.btn{
  /*background: none;*/
  border: solid 1px darkgray;
  border-radius: 5px;
  margin: 0 5px;
  padding: 5px;
}
.btn-sent{
  color: green;
}
.btn-clear{
  color: crimson;
}
.btn:hover{
  background: white;
  border: solid 2px darkgray;
  box-shadow: darkgray;
  box-shadow: 2px 2px 5px #aaaaaa;
}
.num-value{
  font-weight: bold;
  color: crimson;
}
