.child-frame{
  margin: 40px 20px 50px 20px;
  padding: 0px 10px 30px 10px;
  border: solid 1px darkgray;
  border-radius: 20px;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);

}
.btn{
  /*background: none;*/
  border: solid 1px darkgray;
  border-radius: 5px;
  margin: 0 5px;
  padding: 5px;
}
.btn-sent{
  color: green;
}
.btn-clear{
  color: crimson;
}
.btn:hover{
  background: white;
  border: solid 2px darkgray;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}
.num-value{
  font-weight: bold;
  color: crimson;
}
