<!--<p>child works!</p>-->

<div class="child-frame">
  <h5>Child Component</h5>
  <p>Get data from parent:  <span class="num-value">{{childValue}}</span>  times</p>
  <button class="btn btn-sent" (click)="sendValue()">Send Data to Parent</button>
  <button class="btn btn-clear" (click)="clearValue()">Clear Data</button>
</div>


